<header>Let's get things done</header>

<div class="container todo-textbox">
    <input type="text" [(ngModel)]="todoUserInput" >
</div>

<div class="container todo-button">
    <button (click)="addToDo()">ADD TODO</button>
</div>

<div class="container todo-list">
    <ul *ngIf="todos">
        <li *ngFor="let todo of todos">
            <p>{{todo.name}}</p>
            <span>
                <input type="checkbox" [(ngModel)]="todo.isComplete" (change)="evaluateCheckbox(todo)">
                <button (click)="deleteTodo(todo)">X</button>
            </span>
        </li>
    </ul>
</div>
